body {
	background: url("../images/bgGym.png") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Quicksand', sans-serif;
}
.firstdiv {
	background-color: #05a081;
	width: 60%;
	margin: 50px auto;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	opacity: 0.8;
	height: 250px;
}
.firstdiv  img {
	width: 200px;
	height: 130px;
}
table {
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse; 
	table-layout: fixed;
}
table img{
	width: 250px;
	height: 200px;
	background-size: cover;
	cursor: pointer;
}
table img:hover {
	opacity: 0.8;
}
table td {
	padding: 15px;
}